<div class="panel panel-default">
    <div class="panel-heading">Task Overview</div>
    <div class="panel-body">
        <div class="nwk-voffset">
            <table class="table table-responsive table-condensed table-striped thead-default">
                <tr>
                    <th *ngFor="let key of getKeys()">{{key}}</th>
                </tr>
                <tr *ngFor="let task of tasks">
                    <td *ngFor="let key of getKeys()">{{task[key]}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>